<?xml version="1.0"?>
<model>
  <name>cpr_orchard</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Clearpath Robotics</name>
    <email>support@clearpathrobotics.com</email>
  </author>
  <description>Clearpath Robotics Orchard Simulation Environment</description>
</model>
